/* CSS Document */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu",sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

::selection{
  background-color: #48dbfb60;
}

.logo{
  width: 64px;
  height: 64px;
  background-image: url(../images/Logo.png);
  background-size: contain;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  background-color: #353b48;
}

home{
	background-color: #000000;
	padding: 0px;
	margin: 0px;
}

#home{
  height: 800px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#home .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home .content{
  width: 200%;
  color: #fff;
}

#home .content h1{
  font-size: 800px;
  margin-bottom: 800px;
}
